body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#board {
  border-radius: 25px;
  background-color: deepskyblue;
  border: 10px solid indigo;

  display: grid;
  grid-template-columns: repeat(7, 13vw);
  grid-template-rows: repeat(6, 15%);
  gap: 0.35vw;
}

.tile {
  height: 6vw;
  width: 6vw;
  margin: 0 auto;
  /* Circle */
  background-color: white;
  border-radius: 50%;
  border: 5px solid darkcyan;
}

#title {
  font-family: "Lucida Console", "Courier New", fantasy;
  font-size: 60px;
  color: green;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  margin-top: 100px;
  color: black;
  text-decoration: none;
}

.main-nav li {
  padding: 0 5%;
}

.btn-list a:hover {
  background-color: DarkSalmon;
}

.btn-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.btn-list li {
  flex: 1;
}

.btn-list a {
  text-decoration: none;
  padding: 10px;
  border: 5px solid green;
  color: darkcyan;
  border-radius: 15px;
  font-size: 25px;
  font-weight: bold;
  background-color: azure;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#winner {
  font-size: 50px;
  color: green;
}